body {
    padding: 0;
    margin: 0;
}

::selection {
    background: yellow;
    color: black;
}

/* Navbar */

#navbar .container {
    background: #000099;
}

#navbar .row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    height: 60px;
}

#navbar .row .left p {
    cursor: pointer;
}

#navbar .row .left a {
    cursor: pointer;
    color: tomato;
    text-decoration: none;
    font-weight: 800;
    font-size: 20px;
}

#navbar .row .left a:hover {
    color: white;
}

#navbar .row .right a {
    cursor: pointer;
    margin-right: 24px;
    color: white;
}

#navbar .row .right a:hover {
    color: tomato;
}

header {
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background: #000099;
}

header .container .row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 80vh;
}

header .container .row .right {
    display: flex;
    align-items: center;
}

header .container .row .left {
    display: flex;
    width: 400px;
}

header .container .row h1 {
    color: #f54627;
    font-size: 48px;
}

header .container .row .left p {
    margin-top: 48px;
    font-size: 32px;
    color: white;
    line-height: 48px;
}

.menu,
.menu-items {
    display: none;
}

.btn-container {
    display: flex;
    align-items: center;
}

.latest-jobs-btn {
    color: white;
    padding: 14px 32px;
    text-decoration: none;
    font-size: 22px;
    transition: all 0.2s ease 0s;
    border: 2px solid #ffffff;
    font-weight: 800;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
}

.fa-arrow-right {
    margin-left: 12px;
    font-size: 18px;
}

.latest-jobs-btn:hover {
    background: #ec5439;
    border: 2px solid tomato;

}

.latest-jobs-btn:hover .fa-arrow-right {
    color: white;
}

.header-img {
    margin-left: -64px;
}

@media only screen and (max-width:1500px) {
    .header-img {
        /* display: none; */
    }

    header .container .row {
        padding: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    header .container .row .right {
        display: flex;
        align-items: center;
    }

    header .container .row .right p {
        font-size: 32px;
        color: white;
        line-height: 48px;
        text-align: center;
    }


}


@media only screen and (max-width:1100px) {
    header {
        height: 30vw;
        background: #330099;
    }

    header .container .row {
        padding: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}

@media only screen and (max-width:900px) {
    header {
        height: 40vw;
        background: #330099;
    }

    header .container .row {
        padding: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    #navbar {
        display: none;
    }

    .menu {
        display: block;
        margin-bottom: 24px;
        font-size: 24px;
        color: white;
        position: absolute;
        right: 0;
        top: 0;
        cursor: pointer;
        margin-top: 24px;
    }

    .menu-items {
        position: absolute;
        top: 35px;
        right: 10px;
        display: flex;
        justify-content: center;
    }

    .menu-items li {
        list-style: none;
        text-align: center;
        padding: 4px;
        transition: all 5s ease;
    }

    .menu-items li a {
        color: white;
        text-align: center;

    }

}