body {
    margin: 0;
    padding: 0;
}

#home-jobs .row .job-cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.job-card {
    background: gray;
    width: 250px;
    height: 300px;
}

.job-card-top {
    display: flex;
    justify-content: center;
    background: rgb(180, 130, 130);
    height: 50px;
    align-items: center;
}